body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
}

#chatContainer, #workoutGifContainer {
    position: fixed;
    bottom: 4rem;
    left: 0;
    width: 100%;
}

#chatTab, #closeGifBtn {
    position: relative;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
}

#chatWindow, #workoutGif {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-bottom: none;
    box-shadow: 0 0 10px #ccc;
}

#messages {
    height: 15rem;
    overflow-y: scroll;
    padding: 0.5rem;
}

#input {
    background-color: #f1f1f1;
    padding: 0.5rem;
    text-align: center;
}

#messageInput {
    width: 90%;
    padding: 0.5rem;
    margin: 0 auto;
    display: inline-block;
}

#profileContainer {
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
}

#profileHeader {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#profileContent {
    padding: 1rem;
}

.profileRow {
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    display: inline-block;
    margin: 0;
    width: 20%;
    text-align: right;
    margin-right: 1rem;
}

input {
    flex-grow: 1;
    padding: 0.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 0.5em;
    line-height: 1.2;
}

.exercise {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.exercise-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header-content {
    display: flex;
}

.exercise-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercise-img {
    max-width: 50px;
    max-height: 50px;
}

.expand-btn {
    margin-right: 10px;
}

.exercise-title {
    margin-bottom: 5px;
}

.completed-indicator {
    margin-left: auto; /* push the completed indicator to the right */
}

.sets.hidden, .completed-indicator.hidden {
    display: none;
}

.exercise-checkbox, .set-checkbox {
    margin-right: 10px;
}

.sets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#workoutGif {
    display: none;
}

/* Additional CSS for gif container and close button */
#workoutGifContainer {
    position: relative;
}

#closeGifBtn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    cursor: pointer;
}

