body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
}
#chatContainer {
    position: fixed;
    bottom: 4rem; /* Adjust as per your footer's height */
    left: 0;
    width: 100%;
}

#chatTab {
    position: relative;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
}

#chatWindow {
    display: none;
    position: absolute;
    bottom: 100%; /* Positioned just above the #chatTab */
    left: 0;
    width: 100%; /* Span the full width of the page */
    background-color: white;
    border: 1px solid #ccc;
    border-bottom: none; /* Remove bottom border as it connects with #chatTab */
    box-shadow: 0 0 10px #ccc;
}

#messages {
    height: 15rem; /* Adjust as per your design preference */
    overflow-y: scroll;
    padding: 0.5rem;
}

#input {
    background-color: #f1f1f1;
    padding: 0.5rem;
    text-align: center; /* Centers the inline or inline-block children */
}

#messageInput {
    width: 90%; /* Set the width to 90% of the parent container */
    padding: 0.5rem;
    margin: 0 auto; /* Centers the block element */
    display: inline-block; /* Makes the input display as an inline-block element to be centered by text-align */
}

#profileContainer {
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
}

#profileHeader {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#profileContent {
    padding: 1rem;
}

.profileRow {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    width: 20%;
    text-align: right;
    margin-right: 1rem;
}

input {
    width: 60%;
    padding: 0.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 0.5em; /* Adjust padding as needed */
    line-height: 1.2; /* Adjust line-height as needed */
}
