<div id="chatContainer">
    <!-- Chat Tab -->
    <div id="chatTab" onclick="toggleChat()">My AI</div>

    <!-- Chat Window -->
    <div id="chatWindow">
        <div id="messages"></div>
        <div id="input">
            <input id="messageInput" type="text" placeholder="Type a message..." onkeypress="handleKeyPress(event)">
        </div>
    </div>
    <!-- JavaScript -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
