<div class="exercise">
    <div class="exercise-header">
        <div class="header-content">
            <button class="expand-btn">+</button>
            <div class="exercise-info">
                <span class="exercise-title">[EXERCISE_NAME]</span>
                <img src="https://www.kettlebellkings.com/cdn/shop/articles/barbell-deadlift-movement.gif?v=1692228918&width=700" alt="[EXERCISE_NAME] image" class="exercise-img"/>
            </div>
        </div>
        <span class="completed-indicator"></span>
    </div>
    <div class="sets">
        <!--[SETS]-->
    </div>
</div>
