<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - FitClub</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="d-flex flex-column">
    <div id="content">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">FitClub</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/my_profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- Main Content -->
        <div class="container mt-5">
            <h1>Welcome to FitClub, {{ username }}!</h1>
            <!-- User Info and Workouts Section -->
            <div id="workoutPlan">
                <div id="days">
                    <button class="day" data-day="Monday" onclick="loadWorkouts('Monday')">Monday</button>
                    <button class="day" data-day="Tuesday" onclick="loadWorkouts('Tuesday')">Tuesday</button>
                    <button class="day" data-day="Wednesday" onclick="loadWorkouts('Wednesday')">Wednesday</button>
                    <button class="day" data-day="Thursday" onclick="loadWorkouts('Thursday')">Thursday</button>
                    <button class="day" data-day="Friday" onclick="loadWorkouts('Friday')">Friday</button>
                    <button class="day" data-day="Saturday" onclick="loadWorkouts('Saturday')">Saturday</button>
                    <button class="day" data-day="Sunday" onclick="loadWorkouts('Sunday')">Sunday</button>                    
                </div>
                <div id="workoutGif" style="text-align:center;">
                    <iframe src="https://giphy.com/embed/3ofSB2RLYhBsDpGCHu" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <p><a href="https://giphy.com/gifs/peteandpete-season-3-the-adventures-of-pete-and-3ofSB2RLYhBsDpGCHu">via GIPHY</a></p>
                </div>
                <div id="workoutsContainer"></div>
            </div>
        </div>
        
        {% include 'chat.html' %}
        {% include 'footer.html' %}
    </div>
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
