<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-dark text-white d-flex flex-column">
    <div id="content">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">FitClub</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card bg-secondary">
                        <div class="card-header">
                            <h3>My Profile</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{{ url_for('my_profile') }}">
                                <div class="input-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" name="username" value="{{ username }}" readonly>
                                </div>
                                <div class="input-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{ name }}">
                                </div>
                                <div class="input-group">
                                    <label for="height">Height:</label>
                                    <input type="text" class="form-control" id="height" name="height" value="{{ height }}">
                                </div>
                                <div class="input-group">
                                    <label for="weight">Weight:</label>
                                    <input type="text" class="form-control" id="weight" name="weight" value="{{ weight }}">
                                </div>
                                <div class="input-group">
                                    <label for="dl_max">Deadlift Max:</label>
                                    <input type="text" class="form-control" id="dl_max" name="dl_max" value="{{ dl_max }}">
                                </div>
                                
                                <div class="input-group">
                                    <label for="squat_max">Squat Max:</label>
                                    <input type="text" class="form-control" id="squat_max" name="squat_max" value="{{ squat_max }}">
                                </div>
                                
                                <div class="input-group">
                                    <label for="bench_max">Bench Max:</label>
                                    <input type="text" class="form-control" id="bench_max" name="bench_max" value="{{ bench_max }}">
                                </div>                                
                                <button type="submit" class="btn btn-primary">Update Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'chat.html' %}
    {% include 'footer.html' %}
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
